<h1>
  CRUD Snippets application
</h1>

{{#if loggedIn}}
<table>
    <tbody>
        {{#if viewData.snippets}}
        {{#each viewData.snippets}}
        <tr>
            <td><textarea name="value" class="view-snippet" readonly>{{this.value}}</textarea></td>
            <td>
                <a href="./{{this.id}}/edit"><span>Edit</span></a>
                <a href="./{{this.id}}/remove"><span>Delete</span></a>
            </td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
</table>
{{else}}
<table>
    <tbody>
        {{#if viewData.snippets}}
        {{#each viewData.snippets}}
        <tr>
            <td><textarea name="value" class="view-snippet" readonly>{{this.value}}</textarea></td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
</table>
{{/if}}
 

    
